*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
}

ul,
ol {
    list-style: none;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
    width: 1150px;
    margin-left: 10px;
}

.result {
    flex-shrink: 1;
    width: 711px;
    height: 456px;
}

.result__video-container {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
    height: 386px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.search-form {
    display: grid;
    justify-items: center;
    grid-template-columns: 219px 274px 218px;
}

.search-form__fieldset {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 5px;
}

.search-form__fieldset-title {
    color: #fff;
    font-family:"Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-form__label {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid rgb(255, 254, 254);
}
.search-form__label-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.search-form__label:active {
    color: #ffffff;
    border: none;
}


.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}


.search-form__textfield:focus { 
    outline: none;
    border-right: 0px solid #FFF;
    border-top: 1px solid #FFF;
    border-left: none;
    border-bottom: 1px solid #FFF;
} 

.search-form__textfield:hover {
    text-decoration: none;
}
 
.search-form__textfield {
    background-color: #1b1919;
    width: 222px;
    min-height: 28px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    border-right: 0px solid #FFF;
    border-top: 1px solid #FFF;
    border-left: none;
    border-bottom: 1px solid #FFF;
    appearance: none;
    outline: none;
    color: #fff;
    text-decoration: none;
}


.search-form__textfield:active {
    border-right: 0px solid #FFF;
    border-top: 1px solid #FFF;
    border-left: none;
    border-bottom: 1px solid #FFF;
    text-decoration: none;
}

.search-form__checkbox-list:has(:focus-visible){
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.search-form__checkbox-list {
    display: grid;
    grid-template-columns:  75px 76px 74px;
    flex-direction: row;
    cursor: pointer;
    width: 172px;
    margin-right: 18px;
    height: 20px;
}

.search-form__checkbox-list:active {
    text-decoration: none;
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox {
    background: white;
    outline: 1px solid white;
    border: 1px solid black;
}

.search-form__checkbox:active:checked + .search-form__pseudo-checkbox{
    background: white;
    outline: 1px solid white;
    border: 1px solid black; 
}

.search-form__pseudo-checkbox {
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid #fff;
}

.search-form__submit-button {
    margin-top: 18px;
    margin-left: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: #1b1919;
    min-width: 189px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search-form__submit-button:focus {
    border-top: 2px solid rgba(255, 255, 255, 0.7); 
    border-bottom: 2px solid rgba(255, 255, 255, 0.7); 
}

.search-form__submit-button:hover {
    text-decoration: underline;
}

.search-form__submit-button:active {
    background-color: #545050;
    text-decoration: none;
}

.content__details {
    width: 100%;
    height: 534px;
}

.title {
    margin-bottom: 18px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 94%;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
    font-family: "Oswald", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 94%; 
    text-transform: uppercase;
}

.content__list {
    position: relative;
    overflow: auto;
    display: flex;
    height: 298px;
    flex-direction: column;
    align-items: flex-start;
}

.content__list-item:not(:last-of-type) {
    margin-bottom: 30px;
}

.content__list-item:active {
    background: #545050;
}

.content__card-link {
    display: block;
    text-decoration: none;
    color: #fff;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    border: 2px solid #ffffff;
    outline: none;
}

.content__card-link_current {
    background-color: #545050;
}

.content__card-link_current:active {
    background-color: #545050;
}

.content__video-card {
    display: grid;
    grid-template-columns: 200px 192px;
}

.content__video-card:hover {
    min-height: 100%;
    height: auto ;
    height: 100%;
    text-underline-offset: 1px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.content__video-card:active {
    text-decoration: none;
    background-color: #545050;
}

.content__video-card-title {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 2px;
}

.content__video-card-description {
    color: #fff;
    font-family:"Fira Sans Condensed", sans-serif ;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.2px;
}


.content__video-card-description-container {
    min-height: 100%;
    height: 100%;
}

.content__video-card-description-container:focus {
    min-height: 100%;
    height: auto ;
    height: 100%;
}


.content__video-card-thumbnail {
    width: 192px;
    height: 103px;
    object-fit: fill;
}

.more-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: #1b1919;
    color: #fff;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
    border: 1px solid #ffffff;
    min-width:392px;
    min-height: 34px;
    margin-left: 7px;
    margin-top: 7px;
}

.more-button:focus {
    border-top: 2px solid rgba(255, 255, 255, 0.7); 
    border-bottom: 2px solid rgba(255, 255, 255, 0.7); 
}

.more-button:hover {
    text-decoration: underline;
}

.more-button:active {
    background-color: #545050;
    text-decoration: none;
}